<div class="bicyclesUI">
    <h2 class="sub-header">Bicycles
        <div class="toolbar">
            <button type="button" class="btn btn-refresh"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
            <button type="button" class="btn btn-addbike"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
        </div>
    </h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>SJBC ID</th>
                    <th>Manufacturer</th>
                    <th>Model</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="bicycleDetailUI">
    <h2 class="sub-header">Bicycle Details 
        <button type="button" class="btn btn-danger btn-sm close-button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    </h2>
    <div class="bicycleDetails"></div>
    <button type="button" class="btn btn-danger delete-button">Delete</button>
</div>
<div id="dlgDeleteBicycle" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Bicycle Record</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to <em>permanently</em> delete this bicycle?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
