<div class="bicyclesUI">
    <h2 class="sub-header">Bicycles
        <div class="toolbar">
            <button type="button" class="btn btn-refresh"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
            <button type="button" class="btn btn-addbike"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
        </div>
    </h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>SJBC ID</th>
                    <th>Manufacturer</th>
                    <th>Model</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="bicycleDetailUI">
    <h2 class="sub-header">Bicycle Details 
        <button type="button" class="btn btn-danger btn-sm close-button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    </h2>
    <div class="bicycleDetails"></div>
</div>
