<div class="membershipUI">
    <h2 class="sub-header">Members
        <div class="toolbar">
            <!--button type="button" class="btn btn-refreshmembers"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button-->
            <button type="button" class="btn btn-addmember"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
            <button type="button" class="btn btn-searchmember"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
    </h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Waiver</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="memberDetailUI">
    <h2 class="sub-header">Member Details
        <div class="toolbar">
	        <button type="button" class="btn btn-danger btn-sm close-button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </div>
    </h2>
    <div class="memberDetails"></div>
</div>
