div.main > div {
	display:none;
}

#adminAlert {
	display: none;
	position: absolute;
    top: 0;
    width: 100%;
}

.close-button {
	position: absolute;
    right: 15px;
}

.toolbar {
	position: absolute;
    top: 0;
    right: 15px;
}

form {
	padding-bottom: 20px;
}

form p {
	display: inline-block;
	margin-right: 15px;
}

form label {
	margin-bottom: 0px;
}

form input[type="text"] {
	display: block;
}

form input[type="number"] {
	display: block;
}

form textarea {
	display: block;
}

#id_type_of_cyclist {
	list-style-type: none;
}

.bicycleDetailUI {
	position: relative;
}

.kiosk {
	border-top: 1px solid;
}

.kiosk > h3 {
	text-align: center;
    padding-top: 20px;
    font-weight: bold;
    color: blue;
}
