body {
	background-color: #eee;
}

#site-title {
    font-size: 14px;
    margin-top: 0;
}

#site-title a {
    color: #111;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    text-decoration: none;
}

#site-description {
    color: #7a7a7a;
    font-size: 14px;
    margin: 0;
}

#site-nav {
    min-height: inherit;
    border-radius: 0px;
}

#site-nav-items>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

#pageHeading {
	margin-top: 2em;
	padding-left: 0px;
	padding-right: 0px;
    border-top: 2px solid #bbb;
}

#pageHeading hgroup {
    margin: 4%;
}

.pageContent {
	background-color: #fff;
}

.other-form-control {
	display: none;
}

.required-asterisk {
	font-size: 10px;
    color: rgb(196,59,29);
}

.required-error {
    border: 2px solid rgb(196,59,29);
}

#shop-schedule {
	width:inherit;
}

.signup-form {
	border: 1px solid #ccc;
	border-color: rgb(176,190,197);
	border-radius: 6px;
	background-color: rgb(255,255,255);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-sizing: border-box;
    margin: 0.75rem auto;
    padding: 20px;
    max-width: 700px;
    min-width: 280px;
    width: 100%;
}

.shiftSignupFormHdr {
	border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 20px;
}

.signup-form input {
	max-width: 325px;
}

.signup-form div.first-checkbox {
	margin-top: 0px;
}

.shiftRow {
	display: table-row;
}

.shiftDay {
	display: table-cell;
	border: 1px solid;
    height: 94px;
    width: 94px;
    text-align: center;
    vertical-align: top;
}

.shiftDay.closed {
	background-color: #eee;
}

.shiftDayHeading {
	font-weight:bold;
}
