<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<link rel="stylesheet" type="text/css" href="/static/css/admin.css">

<body>
    {% include "pageHeading.html" %}
    <div class="container pageContent" role="main">
        <div id="adminAlert" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="alert-message"></span>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="#">Membership</a></li>
                    <li><a href="#">Bicycles</a></li>
                    <li><a href="#">Advertisements</a></li>
                    <li><a href="#">Reports</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="float:inherit">
                {% include "adminPanels/membership.html" %}
                {% include "adminPanels/bicycles.html" %}
            </div>
        </div>
    </div>
    {% include "pageFooter.html" %}
    <script data-main="/static/js/app/admin" src="/static/xlib/require.js"></script>
</body>

</html>
