<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}

<body>
    {% include "pageHeading.html" %}
    <div id="donateContent" class="container pageContent" role="main">
        <article style="max-width: 570px;margin: auto;">
            <header class="entry-header">
                <h1 class="entry-title">Donate</h1>
            </header>
            <div class="donateContent">
                <p style="text-align: center;">
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=VBPQ4PN9KF4LQ" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.paypal.com']);" rel="nofollow" target="_blank"><img src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" alt=""></a>
                </p>
                <p>We have ambitious goals, and we can use all the help we can get. If you’re inspired by our mission and want to help realize our dream for the good of our community, you can contact&nbsp;<em></em>us at sjbc@bikesiliconvalley.org.</p>
                <p>Tax-deductible donations can be made in our name to the Silicon Valley Bicycle Coalition, our fiscal sponsor, with San José Bike Clinic in a Memo field or note. We have an eager group of energetic volunteers, and are happy to invite more into the fold. If you don’t have time or money to spare, we are very happy to accept tools that we will put to good use in our shop. We have outlined a partial list of some things we know we need below…</p>
                <p style="font-weight: bold">Donation Wish List</p>
                <ul>
                    <li>Clipboards</li>
                    <li>Repair stands</li>
                    <li>Training Stands</li>
                    <li>Mono-tasking tools
                        <ul>
                            <li>derailleur&nbsp;alignment adjusters</li>
                            <li>star nut tool</li>
                            <li>headset press</li>
                            <li>Phil Wood spoke cutter <img draggable="false" class="emoji" alt="😀" src="http://s.w.org/images/core/emoji/72x72/1f600.png" width="18px"></li>
                        </ul>
                    </li>
                    <li>Surly Bill Bike Cargo Trailer (63” x 24″, 300 lb capacity)</li>
                    <li>Other bike trailers</li>
                    <li>Bicycle for towing cargo trailer</li>
                    <li>Bike Repair Tools, lubricants, floor pump</li>
                    <li>EZ-Up collapsible canopy</li>
                    <li>Collapsible tables (2 small ones) and chairs (2)</li>
                    <li>Spare parts (primarily patches, tubes, cables, spokes)</li>
                    <li>Plastic bin for an “Outreach kit”</li>
                </ul>
                <p style="margin-top: 1.625em;font-weight: bold">Services to be donated</p>
                <ul>
                    <li>Discount or free printing services</li>
                    <li>Storage space and/or space to set up shop in downtown San Jose</li>
                    <li>Grant writing</li>
                </ul>
            </div>
            <!-- .entry-content -->
            <footer class="entry-meta">
            </footer>
            <!-- .entry-meta -->
        </article>
    </div>
    {% include "pageFooter.html" %}
    <script data-main="/static/js/app/about" src="/static/xlib/require.js"></script>
</body>

</html>
