<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}

<body>
    {% include "pageHeading.html" %}
    <div id="joinContent" class="container pageContent" role="main">
        <div class="membershipIntro">
            <h1><strong>Become a Member</strong></h1>
            <h4><strong>Drop on by whenever we’re open!</strong></h4>
            <p style="text-align: left;">Anyone can drop on by the San Jose Bike Clinic at our shop at 19 N 2nd St in downtown San Jose where we are open Monday through Thursday from 5 pm to 8 pm. The day rate to use the shop is $5. If you are short on funds, there are opportunities to earn shop usage through volunteering. Please email us at <a href="mailto:sjbc@bikesiliconvalley.org">sjbc@bikesiliconvalley.org</a> if you have any questions.</p>
            <p style="text-align: left;">What you get from dropping by the SJBC:</p>
            <ul>
                <li>Free training on how to fix a bike</li>
                <li>Donate to receive extra help on your own bike</li>
                <li>Get to know other bicyclists of all skill levels!</li>
                <li>Use of SJBC space and tools</li>
                <li>Help build our community and improve the health of bicycles in San Jose through sharing your bike building knowledge.</li>
            </ul>
            <p style="text-align: left;">We need your help to get the wheels turning! Join at one of our membership levels for even more benefits and to help support the Bike Clinic:</p>
        </div>
        <div class="membershipPanels">
            <div class="panel panel-primary membershipInfo">
                <div class="panel-heading">
                    <h3 class="panel-title">Monthly Membership</h3>
                    <div class="membershipPrice"><span class="badge">$20/mo</span></div>
                </div>
                <div class="panel-body">
                    <p>Benefits of Monthly Membership:</p>
                    <ul>
                        <li>Your very own personalized SJBC Membership Card.</li>
                        <li>Subscription to news about SJBC social and educational events delivered to your email. (Your personal information will not be shared with anyone for any purpose.)</li>
                        <li>Invitations to more great volunteer opportunities</li>
                        <li>Free use of SJBC workshop and tools, free access to Skill Share classes</li>
                        <li>Invites to attend SJBC rides and events such as our end of the year bash</li>
                    </ul>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input name="cmd" type="hidden" value="_s-xclick">
                        <input name="hosted_button_id" type="hidden" value="VW4PUP5MXLFX8">
                        <div class="membershipFormHeading">
                            <div style="display:inline-block">Name to appear on member ID card: </div>
                            <input maxlength="100" name="os0" type="text">
                        </div>
                        <div style="text-align: center;">
                            <input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" type="image">
                            <img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0">
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-primary membershipInfo">
                <div class="panel-heading">
                    <h3 class="panel-title">Annual Membership</h3>
                    <div class="membershipPrice"><span class="badge">$75/yr</span></div>
                </div>
                <div class="panel-body">
                    <p style="text-align: left;">Benefits of Annual Membership:</p>
                    <ul>
                        <li>All the Benefits of Monthly Membership and…</li>
                        <li>FREE annual membership with the Silicon Valley Bicycle Coalition! <a href="http://bikesiliconvalley.org" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://bikesiliconvalley.org']);">http://bikesiliconvalley.org</a></li>
                        <li>A personalized membership kit, complete with special SJ Bike Clinic decals</li>
                    </ul>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input name="cmd" type="hidden" value="_s-xclick">
                        <input name="hosted_button_id" type="hidden" value="FEJ64TUHQU7XE">
                        <div class="membershipFormHeading">
                            <div style="display:inline-block">Name to appear on member ID card: </div>
                            <input maxlength="100" name="os0" type="text">
                        </div>
                        <div style="text-align: center;">
                            <input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" type="image">
                            <img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0">
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-primary membershipInfo">
                <div class="panel-heading">
                    <h3 class="panel-title">Lifetime Membership</h3>
                    <div class="membershipPrice"><span class="badge">$300</span></div>
                </div>
                <div class="panel-body">
                    <p>Benefits of Lifetime Membership:</p>
                    <ul>
                        <li>All the Benefits of Annual Membership and…</li>
                        <li>Never pay membership dues again</li>
                        <li>FREE 5-year membership with the Silicon Valley Bicycle Coalition (a $175 value!)</li>
                        <li>A VIP invitation to our annual Bike Clinic Cookout Social</li>
                    </ul>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input name="cmd" type="hidden" value="_s-xclick">
                        <input name="hosted_button_id" type="hidden" value="6BELSVJC9PF3J">
                        <div class="membershipFormHeading">
                            <div style="display:inline-block">Name to appear on member ID card: </div>
                            <input maxlength="100" name="os0" type="text">
                        </div>
                        <div style="text-align: center;">
                            <input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" type="image">
                            <img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0">
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-primary membershipInfo">
                <div class="panel-heading">
                    <h3 class="panel-title">Founding Lifetime Membership</h3>
                    <div class="membershipPrice"><span class="badge">$500</span></div>
                </div>
                <div class="panel-body">
                    <p>Benefits of Founding Lifetime Membership:</p>
                    <ul>
                        <li>All the Benefits of Lifetime Membership and…</li>
                        <li>FREE Lifetime membership with the Silicon Valley Bicycle Coalition (a $1000 value!!!)</li>
                        <li>A special note of recognition for helping to make the SJ Bike Clinic’s founding vision a success will be displayed on our website and on the wall of our first permanent space</li>
                        <li>A VIP invitation to join SJ Bike Clinic in community building events with other stakeholders in the local community</li>
                    </ul>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input name="cmd" type="hidden" value="_s-xclick">
                        <input name="hosted_button_id" type="hidden" value="YA6WCYSHF47EE">
                        <div class="membershipFormHeading">
                            <div style="display:inline-block">Name to appear on member ID card: </div>
                            <input maxlength="100" name="os0" type="text">
                        </div>
                        <div style="text-align: center;">
                            <input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" type="image">
                            <img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include "pageFooter.html" %}
    <script data-main="/static/js/app/join" src="/static/xlib/require.js"></script>
</body>

</html>
