<div id="pageHeading" class="container pageContent" role="header">
    <hgroup>
        <h1 id="site-title"><span><a href="http://www.sanjosebikeclinic.org/" title="San José Bike Clinic" rel="home">San José Bike Clinic</a></span></h1>
        <h2 id="site-description">Building a Shared Space for Bike Repair &amp; Education in Downtown San José</h2>
        {% if not hide_banner %}
        <div class="profile-menu">
            <a id="profileMenu" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                {{ profile_name }}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% if user.is_authenticated %}
                <li><a style="color:#ddd;cursor:default" href="#">Edit profile...</a></li>
                <li><a id="btnLogOut" href="#">Log out</a></li>
                {% else %}
                <li><a style="color:#ddd;cursor:default" href="#">Sign up...</a></li>
                <li><a id="btnShowLogInDlg" href="#">Log in...</a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </hgroup>
    {% if not hide_banner %}
    <img src="/static/img/banners/cropped-SJ_BikeClinic_030312_Angela_Shows_Tire_Repair.jpg" width="100%" alt="">
    <nav id="site-nav" class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="site-navbar" class="collapse navbar-collapse">
                <ul id="site-nav-items" class="nav navbar-nav">
                    <li><a href="/about">About San José Bike Clinic</a></li>
                    <li><a href="/getInvolved">Get Involved</a></li>
                    <li><a href="/join">Become a Member</a></li>
                    <li><a href="/store">Bicycles for Sale</a></li>
                    <li><a href="/donate">Donate</a></li>
                    {% if user.is_authenticated and user.is_staff %}
                    <li><a href="/sjbc_admin">Admin</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}
    <div id="dlgLogIn" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Log In to San Jose Bike Clinic</h5>
                </div>
                <div class="modal-body">
                    <form id="logInForm">
                        <div class="form-group">
                            <label for="inputUser" class="control-label">username: </label>
                            <input type="text" class="form-control" id="inputUser">
                        </div>
                        <div class="form-group">
                            <label for="inputPwd" class="control-label">password: </label>
                            <input type="password" class="form-control" id="inputPwd">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Log In</button>
                </div>
            </div>
        </div>
    </div>
</div>
