<div role="tabpanel" class="tab-pane active" id="howToHelp">
    <article id="post-80" class="post-80 page type-page status-publish hentry">
        <header class="entry-header">
            <h1 class="entry-title">Get Involved</h1>
        </header>
        <!-- .entry-header -->
        <div class="entry-content">
            <p><em>Want to get involved with Bike Clinic? Let us count the many ways!</em></p>
            <p><strong>Volunteer Meetings</strong></p>
            <p>Whether you prefer to work behind the scenes or get right where the action is, Bike Clinic has a place for you to plug in! Our meetings are open to the public, and we appreciate diversity — the more the merrier!&nbsp;We need more volunteers of a wide variety of skill sets; if you’ve got the time and energy, we want to hear from you!</p>
            <p>Please keep in mind that this website is managed by volunteers and sometimes it falls out of date. When in doubt, feel free to email&nbsp;<a href="mailto:sjbc@bikesiliconvalley.org">sjbc@bikesiliconvalley.org</a>&nbsp;to make sure these dates are still accurate. When you do email, tell us a bit about yourself, your skills, your time availability, and how you’d like to contribute.</p>
            <ul>
                <li><em>General Planning Meeting</em>&nbsp;– Come see&nbsp;the Steering Committee in action and join in the strategic planning to help chart our course. Check in with us to confirm the date as sometimes it floats a little, but generally we&nbsp;meet the first Tuesday of the month from 6:30-8:30 p.m. at the Headquarters of the Silicon Valley Bicycle Coalition — 96 N Third St, Suite 375, San Jose.</li>
                <li><em>Event Planning Meeting</em> –&nbsp;Want to volunteer at SJBC events (or our new shop)? Come plug in at our Event Planning Meetings, held every&nbsp;second&nbsp;Monday of the month, 6:30-8:30 p.m. at our shop in Camera 12 — 201 S 2nd St, San Jose.</li>
                <li><em>Volunteer Mixer</em> – Just for fun, every fourth Thursday is a bit of a party celebrating our volunteers. Come on down to our shop in Camera 12 to enjoy food, drink, and the company&nbsp;of fellow volunteers.&nbsp;It’s a great time to come by if you’re interested in joining the fold — and bring friends, too!</li>
            </ul>
            <h2>Volunteer and Service Opportunities</h2>
            <p><em>If you would like to volunteer, please look at the events listed and on the Google calendar below, then either use one of the volunteer sign-up sheets below or email&nbsp;<a href="mailto:sjbc@bikesiliconvalley.org">sjbc@bikesiliconvalley.org</a> with the Event Name and “Volunteer” in the subject line at least a week in advance.</em></p>
            <p>Online Volunteer Sign-Up Sheets</p>
            <ul>
                <li><a href="https://docs.google.com/forms/d/1Nu467DfQhnO_KQPy85qjCPj7vpZVF1RwirIrjaadl1w/viewform" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://docs.google.com']);">Shifts for our Shop in&nbsp;Downtown SJ</a></li>
            </ul>
            <p><em>If you are looking for Bike Clinic services—learn bike repair skills, get help fixing your bike, ask questions, or borrow tools—please see the events listed and on the Google calendar. These are your best opportunities to receive Bike Clinic services.</em> <em>You can also&nbsp;</em><em>email&nbsp;<a title="SJBC November Volunteer Opportunities" href="mailto:sjbc@bikesiliconvalley.org">sjbc@bikesiliconvalley.org</a>, <a title="Subscribe to SJBC email list" href="http://eepurl.com/ohvCX">subscribe to our email list</a>, and follow us on Facebook or Twitter. </em></p>
            <p>
                <iframe style="border-width: 0;" src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=pmlvhal0ia1kbiigk1dv5ubmfg%40group.calendar.google.com&amp;color=%23875509&amp;ctz=America%2FLos_Angeles" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </p>
        </div>
        <!-- .entry-content -->
        <footer class="entry-meta">
        </footer>
        <!-- .entry-meta -->
    </article>
    <!-- #post-80 -->
</div>
